@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: book;
		src: url('/fonts/Book Antiqua.ttf') format('truetype');
	}
	@font-face {
		font-family: nunito;
		src: url('/fonts/Nunito.ttf') format('truetype');
	}
}
html {
	@apply bg-blue-100;
}
